@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.top-bar-bg {
    background-color: #0088CC;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.top-bar-separator {
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 20px;
}

.top-bar-left {
    display: flex;
    flex-wrap: wrap;
}

.top-bar-left-item-link {
    position: relative;
}

.top-bar-dropdown-left,
.top-bar-dropdown-left2 {
    display: none;
    background-color: #fff;
    /* width: 80%; */
    position: absolute;
    top: 150%;
    padding: 15px 5px;
}

.top-bar-dropdown-left-spacing {
    padding-right: 20px;
}

.top-bar-left-item-link:hover .top-bar-dropdown-left {
    display: block;
}

.top-bar-left-item-link2:hover .top-bar-dropdown-left2 {
    display: block;
}

.bg-shadow {
    box-shadow: 0px 2px 15px rgba(219, 213, 213, 0.9);
}

.top-bar-dropdown-left-item,
.top-bar-dropdown-left-item2 {
    position: relative;
    list-style: none;
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
}

.english-space {
    margin-right: 15px;
}

.top-bar-left-item,
.top-bar-menu li {
    list-style: none;
}

.top-bar-left-item {
    display: flex;
    gap: 5px;

}

.little-triangle {
    display: inline-block;
    position: absolute;
    left: 35%;
    top: -5px;
    width: 15px;
    height: 15px;
    /* border: 2px solid red; */
    background-color: #fff;
    transform: rotate(45deg);
}

.top-bar-left-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
    color: #fff;
}

.top-bar-left-item a img {
    width: 20px;
    height: 17px;
}

.top-bar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.top-bar-link {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

/* bottom bar  */
.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    color: gray;
}

.bottom-bar-right {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.search {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
}

.header-search-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.categories::before,
.categories::after {
    content: '';
    border: 1px solid #e7e7e7;
}

.categories select {
    border: none;
    outline: none;
    color: gray;
}

.bottom-bar-contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-user,
.icon-shopping,
.icon-heart {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.bottom-bar-contact i {
    font-size: 20px;
}

.bottom-bar-contact i,
h6 {
    color: gray;
}

.bottom-bar-contact h6 a {
    color: black;
    text-decoration: none;
}

/* .hero section  */
.shipping-box {
    border: 1px solid #e7e7e7;
    padding: 20px 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
}

.shipping-box i {
    font-size: 40px;
    color: gray;
}

.separator {
    height: 70px;
    border: 1px solid #e7e7e7;
}

.dollar,
.all-day {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* hero section  */
.hero-section {
    display: flex;
    gap: 20px;
}

.sidebar-home {
    border: 1px solid #e7e7e7;
    flex: 0 0 25%;
    width: 25%;
    /* padding: 10px; */
    height: 100%;
}

.side-menu-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px;
}

.menu {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #555;
}

.menu a i {
    color: #555;
    margin-right: 10px;
}

.menu li {
    margin-top: 1px;
    padding: 10px 10px;
    border-bottom: 1px solid #e7e7e7;
    /* margin-bottom: 20px; */
}

.menu li:first-child,
.menu li:last-child {
    border-bottom: none;
}

.active-home {
    background-color: #0188CC;

}

.active-home a,
.active-home a i {
    color: white;
}

.menu li:hover {
    background-color: #0188CC;
}

.menu li:hover a,
.menu li:hover i {
    color: white;
}

.dropdown-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li a .fa-angle-right {
    font-size: 12px;

}

.hero-right-segment {
    flex: 0 0 75%;
    width: 75%;
    position: relative;
    /* height: 100%; */
}

.hero-right-segment img {
    width: 100%;
    /* position: relative; */
    height: 90%;
}

.banner-layer {
    position: absolute;
    left: 6%;
    top: 20%;
    color: white;
}

.banner-layer h4 {
    font-size: 0.9625em;
    font-weight: 500;
    letter-spacing: 0.08em;
    opacity: 0.7;

}

.banner-layer h2 {
    font-size: 2.734375em;
    letter-spacing: 0.002em;
    font-family: "Segoe Script", "Savoye LET";
}

.banner-layer h3 {
    font-size: 4.75em;
    line-height: 1;
    margin-bottom: 1.6rem;
}

.banner-layer h5 {
    /* display: inline-block; */
    font-size: 0.875em;
    text-transform: uppercase;
    margin-right: 10px;
}

.coupon {
    /* display: inline-block; */
    /* margin-right: 0.5em; */
    /* margin-left: 1em; */
    font-size: 1.09em;
    position: relative;
    display: flex;
    gap: 10px;

}

.coupon span {
    font-size: 12px;
    font-weight: 600;
    /* position: absolute; */
}

.coupon-inner {
    display: flex;
    background-color: #ff7272;
    position: relative;
    /* display: inline-block; */
    padding: 5px 8px;
    transform: rotate(-2deg);
    height: 100%;
}

.coupon-inner span:last-child {
    margin-left: 3px;
}

.banner-btn {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #222529;
    color: #fff;
    padding: 10px 20px;
    font-size: .8rem;
    font-weight: bold;
}