@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #0088CC;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.top-bar-separator {
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 20px;
}

.top-bar-left {
    display: flex;
    flex-wrap: wrap;
}

.top-bar-left-item-link {
    position: relative;
}

.top-bar-dropdown-left {
    background-color: #fff;
    /* width: 80%; */
    position: absolute;
    top: 150%;
    padding: 15px 5px;
}

.top-bar-dropdown-left-item {
    position: relative;
    list-style: none;
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
}

.english-space {
    margin-right: 15px;
}

.top-bar-left-item,
.top-bar-menu li {
    list-style: none;
}

.top-bar-left-item {
    display: flex;
    gap: 5px;

}

.little-triangle {
    display: inline-block;
    position: absolute;
    left: 35%;
    top: -5px;
    width: 15px;
    height: 15px;
    /* border: 2px solid red; */
    background-color: #fff;
    transform: rotate(45deg);
}

.top-bar-left-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
    color: #fff;
}

.top-bar-left-item a img {
    width: 20px;
    height: 17px;
}

.top-bar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.top-bar-link {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}